<input
  (input)="queryInput($any($event).target.value)"
  placeholder="Filter words"
/>

<!-- <app-ts-filter></app-ts-filter> -->
<!-- <app-ts-filter-with-trackby></app-ts-filter-with-trackby> -->

<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-if-with-trackby></app-ng-if-with-trackby> -->

<!-- <app-hidden></app-hidden>  -->
<app-hidden-with-trackby></app-hidden-with-trackby> 







<!-- 
<ng-container *ngIf="iAm === 'sender'">
  <input
  [(ngModel)]="query"
  placeholder="Filter words"
/>
</ng-container>

<ng-container *ngIf="iAm === 'app-ts-filter'">
  <app-ts-filter></app-ts-filter>
</ng-container>
<ng-container *ngIf="iAm === 'app-ts-filter-with-trackby'">
  <app-ts-filter-with-trackby></app-ts-filter-with-trackby>
</ng-container>

<ng-container *ngIf="iAm === 'app-ng-if'">
  <app-ng-if></app-ng-if>
</ng-container>
<ng-container *ngIf="iAm === 'app-ng-if-with-trackby'">
  <app-ng-if-with-trackby></app-ng-if-with-trackby>
</ng-container>

<ng-container *ngIf="iAm === 'app-hidden'">
  <app-hidden></app-hidden>
</ng-container>
<ng-container *ngIf="iAm === 'app-hidden-with-trackby'">
  <app-hidden-with-trackby></app-hidden-with-trackby>
</ng-container> 
-->
